*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 15px !important;
}

body{
    position: relative;
    color: black !important;
}

p{
    text-align: justify;
    padding:0.5rem 1rem;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}